.container-wt1 {
    height: auto;
    max-width: 1500px;
    justify-content: center;
    line-height: 1.25;
    margin: auto;
    background-color: #fff;
    margin: 50px 150px 30px 150px;
}

h1 {
    margin-top: 40px
}

.text-right-wt1 {
    font-size: 20px;
    font-weight: 300;
    justify-content: center;
    overflow: hidden;
}

.text-right-wt1 > p {
    margin-bottom: 20px;
}

.remainder-text-wt1 {
    width: 100%;
    max-width: 1500px;
    background-color: #fff;
    line-height: 1.25;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.remainder-text-wt1 > p {
    font-size: 20px;
    margin: 0 auto 1.5rem auto;
    width: 90%;
    text-align: center;
}

.image-wrap-wt1 {
    float: right;
    margin: 0 100px 20px 160px;
    max-width: 350px;
    border-radius: 8px;
}